@charset "utf-8";


a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

body {
	width: 70%;
	margin: 0 auto;
	height:100%;
}

header {
	position:fixed;
	height: 15%;
}


main {
	margin-top:15%;
	position:relative;
	width: 100%;
}


main h1 {
	font-size: 400%;
	color: #418722;
}



hr {
	background: #1e2924;
	height: 10px;
	border: 0;
	width: 25%;
	margin-left: 0;
	box-shadow: 0 10px 10px -10px #409968 inset;
	border-radius: 10px;
}

#main_zone {
	
	width: 100%;
	height: 350px;
	margin-top: 12%;
	display: flex;
	justify-content: space-between;
}

.main_button {
	width: 20%;
	height: 100%;
	border-radius: 10px;
	border: 2px solid #000;
	background-color: #a0d468;
}

.main_button a {
	
	width: 100%;
	height: 100%;
}

.main_button a img {
	width: 80%;
	height: 70%;
	margin: 10% 10%;
}

.main_button a p {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

.main_button:hover {
	transform: scale(1.1);
}