@charset "utf-8";

/* header css */

.container a { text-decoration: none; color: white;
font-weight: 900; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }

.container {
    background-color:  #bce489;
    position : fixed;
    z-index: 99;
    display : flex;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 40px 0px 0px 6%;
    top: 0px;
    box-sizing: border-box;
    opacity: 0;
    animation: 1.5s ease 0.3s 1 normal forwards running headerbar;
    color : white;
    height : 140px;
}

@keyframes headerbar {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
        max-width: 1140vmax;
    }
}

.beanchat_text {
    position : relative;
    left : 165px;
    bottom : 20px;
    max-width : 250px;
}

.container ul img {
    position : relative;
    right : 0px;
    object-fit: contain;
    display: flex;
    float: none;
    width: 150%;
    height: auto;
    max-width : 250px;
}

.items {
    position: relative;
    bottom : 20px;
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin : 0;
    padding : 0;
}

.items li:hover img {
    opacity : 0;
}

.items li span {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    width: 150px;
    height: 30px;
    bottom : 20px;
}

.items li:hover span {
    position : absolute;
    opacity : 1;
    transition-delay: 0.3s;
}

.container ul {
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    min-height: 48px;
    margin-right : 200px;
    padding : 0;
}

.container ul li:not(:last-child) {
    margin-right : 25px;
}

.container ul li {
    width: 60px;
    display: flex;
    flex-direction: column; /* 세로 정렬 방지 */
    text-align: center; /* 가로 정렬을 위해 텍스트 가운데 정렬 */
    margin: 0;
    list-style: none;
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
}

.items li img {
    opacity: 1;
    transition: opacity 0.3s;
    width : 45px;
    height: 45px;
}
/* header css 종료 */

/*main 시작*/
main {
    width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top:250px;
    
}

main h1 {
	font-size: 50px;
	color: #418722;
}

hr {
	background: #1e2924;
	height: 10px;
	border: 0;
	width: 250px;
	margin-left: 0;
	box-shadow: 0 10px 10px -10px #409968 inset;
	border-radius: 10px;
}


main h2{
    margin-top: 50px;
    font-size:30px;
    margin-bottom:80px;
}


#posible{
    margin:0 auto;
    width: 60%;
    height: 400px;
    display:flex;
    justify-content: space-between;
}


#pro_image{
    width: 260px;       
}

#profile-image{
    width:260px;
    height:330px;
    border:2px solid #000;

}


.pro_img_btn{
    margin-top:10px;
    text-align: center;
}

#pro_image p{
	font-size:12px;
	color:#418722;
	margin-top:3px;
}

#userImage{
    display: none;
}

.pro_img_btn >label {
    padding: 5px 18.38px;
    border: none;
    background-color: #455ba8;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-right:17.5px;
    border-radius: 10px;
}

.pro_img_btn>input{
    border-radius: 10px;
    border: none;
    width: 110px;
    height: 30px;
    background-color: #455ba8;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-left:17.5px;

}
.pro_img_btn>input:hover,.pro_img_btn >label:hover{
    background-color:pink;
    color:#000;
    font-size: bold;
}


#imposible{
    width:400px;
    
}

#imposible h3{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom:20px;
    font-weight:bold;
}

#imposible span{
    font-size:26px;
}

#pwdBtn{
    margin-top:50px;
    border:none;
    background-color: white;
    font-size:25px;
    cursor: pointer;
    letter-spacing:1px;
    font-weight:bold;
    height:30px;
    color:#455ba8;
}

#delBtn{
    margin-top:30px;
    border:none;
    background-color: white;
    font-size:25px;
    cursor: pointer;
    letter-spacing:1px;
    font-weight:bold;
    height:30px;
    color:#a0a0a0;
}

#pwdBtn:hover{
    color:pink;
}

#delBtn:hover{
	color:red;
}


#pro_info{
    margin:0 auto;
    width: 60%;
    text-align: center;
}
.pro_text > label{
    font-size: 25px;
    font-weight: bold;
    
}

.pro_text >input{
    border: 0;
    outline: 0;
    font-size: 25px;
}





.pro_text{
    text-align: left;
    margin-top:15px;
    line-height:280%;
}

.pro_text:focus-within{
	border-bottom: 2px solid #455ba8;
}



#userBirth{
	display:flex;
	
}


#userBirth > label{
	font-size:25px;
	font-weight:bold;
}

#userYear, #userMonth, #userDay{
	font-size:18px;
	margin-left:15px;
	height:28px;
	margin-top:10px;

}

#userBirth p{
	margin-left:5px;
	font-size:18px;
	margin-top:5px;
}



#button_zone{
    width:280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

#backBtn{
    margin-top: 50px;
    padding: 0 10px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    display:inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border:none;
    margin-bottom:50px;
    
}

#modiBtn{
    
    margin-top: 50px;
    padding: 0 10px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    display:inline-block;
    background-color: #A0D468;
    cursor: pointer;
    border-radius: 10px;
    border:none;
    margin-bottom:50px;

}


#modiBtn:hover{
    border:1px solid #000;
    background-color: #455ba8;
    color: white;
}

#backBtn:hover{
    border:1px solid #000;
}

.message {
	font-size: 12px;
}

.success {
  color: green;
  font-size: 12px;
}
.error {
  color: red;
  font-size: 12px;
}
#modalBox .modal-title{
	font-size:20px;
	color:#455ba8;
	font-weight:bold;
	text-align:center;
}
.modal-body{
	 line-height:30px;
}
.newPwd{
	color: #418722;
}

.myPage-row{
	 line-height:50px;
	 font-size:18px;
	 text-align:left;
}
.myPage-row input{
	height:30px;
	width:250px;
}
.myPage-row label{
	width:150px;
}
.myPage-row input::placeholder{
	font-size:12px;
}

#delModal .modal-title{
	font-size:20px;
	color:red;
	font-weight:bold;
	text-align:center;
}
#main_text{
	text-align:left;
	font-size:18px;
	
}

.btn btn-default{
	margin-left:20px;

	}


