@charset "utf-8";

body {
  background-color: #bce489;
}


/* header css */

.container a { text-decoration: none; color: #BCE489;
font-weight: 900; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }

.container {
    background-color: white;
    position : fixed;
    z-index: 99;
    display : flex;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 40px 0px 0px 6%;
    top: 0px;
    box-sizing: border-box;
    opacity: 0;
    animation: 1.5s ease 0.3s 1 normal forwards running headerbar;
    color : white;
    height : 140px;
}

@keyframes headerbar {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.beanchat_text {
    position : relative;
    left : 165px;
    bottom : 20px;
    max-width : 250px;
}

.container ul img {
    position : relative;
    right : 0px;
    object-fit: contain;
    display: flex;
    float: none;
    width: 150%;
    height: auto;
    max-width : 250px;
}

.items {
    position: relative;
    bottom : 20px;
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin : 0;
    padding : 0;
}

.items li:hover img {
    opacity : 0;
}

.items li span {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    width: 150px;
    height: 30px;
    bottom : 20px;
}

.items li:hover span {
    position : absolute;
    opacity : 1;
    transition-delay: 0.3s;
}

.container ul {
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    min-height: 48px;
    margin-right : 200px;
    padding : 0;
}

.container ul li:not(:last-child) {
    margin-right : 25px;
}

.container ul li {
    width: 60px;
    display: flex;
    flex-direction: column; /* 세로 정렬 방지 */
    text-align: center; /* 가로 정렬을 위해 텍스트 가운데 정렬 */
    margin: 0;
    list-style: none;
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
}

.items li img {
    opacity: 1;
    transition: opacity 0.3s;
    width : 45px;
    height: 45px;
}
/* header css 종료 */

/*main 시작*/
main {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#main_zone {
  position: relative;
  top:200px;
  margin:0 auto;
  width: 600px;
  background-color: white;
  display: flex;
  justify-content: center; /* 메인 콘텐츠를 수평 가운데 정렬 */
  align-items: flex-start; /* 메인 콘텐츠를 수직 가운데 정렬 */
  min-height: 60vh; /* 최소 높이를 브라우저 창 높이와 같게 설정 (가운데 정렬을 위해) */
  height: 50%;
  border: 1px solid #000;
  border-radius: 10px;
}


/* 필수 */
.required {
  color: red;
  padding: 0 5px;
}

/* 회원가입 폼 */
form[name="frm"] {
  margin-top: 30px;
  width: 70%;
}

/* 회원가입 폼 내부 input 제목(label) */
form[name="frm"] > label {
  display: block;
  margin-top: 5%;
  font-size: 18px;
  font-weight: bold;
}

/* input을 감싸고 있는 div */
form[name="frm"] .input_area {
  font-size: 100%;
  width: 100%;
  height: 30px;
  margin-bottom: 2px;
  border-bottom: 2px solid #ddd;
  display: flex;
  align-items: center; /* 세로 중앙 */
}

/* input에 포커스가 맞춰졌을 때 밑줄 색 변화 */
/* :focus-within : 내부 input에 포커스가 맞춰졌을 때 */
.input-area:focus-within {
  border-bottom: 2px solid #455ba8;
}

/* input 태그 */
form[name="frm"] .input_area > input {
  width: 70%;
  height: 90%;
  font-size: 90%;
  border: 0;
  outline: 0; /* input 선택 시 테두리 */
}

/* button 태그 */
.custom-button {
  width: 30%;
  height: 70%;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: #418722;
  color: white;
}

.input_area > select {
  width: 20%;
  height: 70%;
  margin-right: 2%;
  font-size: 80%;
}

.input_area > p {
  margin-right: 5%;
  font-size: 100%;
  font-weight: bold;
}

.input_area input[type="radio"] {
  font-size: 10px;
}
form[name="frm"] .message {
  font-size: 70%;
  letter-spacing: -1px; /* 자간 */
}

.success {
  color: green;
  font-size: 70%;
}
.error {
  color: red;
  font-size: 70%;
}

/* 가입하기 버튼 */
#btn {
  width: 100%;
  padding: 4%;
  margin: 30px 0;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #418722;
  cursor: pointer;
  height: 60%;
  border-radius: 10px;
}

#btn:hover {
  color: #000;
  background-color: plum;
}

footer {
  width: 100%;
  height: 15%;
  position: absolute;
}
footer div {
  height: 100%;
  width: 100%;
}
