@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  font-family: "Pretendard-Regular", "GongGothicMedium", "ONE-Mobile-POP", San-serif",
    "Arial";
  -webkit-user-select: none;
  -ms-use-select: none;
}

ul {
  list-style: none;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

body {
  font-family: "Pretendard-Regular";
}


#topMenu {
  width: 1920px;
  height: 165px;
  background-color: #BCE489;
  padding: 30px;
  display: flex;
  align-items: center;
}


.leftElement {
    width: 450px;
    display: flex;
    align-items: center;
    /* margin-right: 1380px; */
    margin-left: 170px;
}

.logo {
    filter: brightness(500%);
    margin-top : 10px;
}

h1 {
    float: right;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
}

.rightElement {
    width: 380px;
    text-align: center;
    margin-right: 200px; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.nickname {
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 20px;
}

.nickname span{
	font-size: 20px;
	font-weight: bold;
	color: white;
	font-style: italic;
}

.write {
    font-size: 17px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    color: white;
    font-weight: bold;
    background: none;
    margin-right: 20px;
}

.write:hover {
    background-color: white !important;
    color: #BCE489;
    transition: all 0.2s ease-in-out;
}



.cancel {
    font-size: 17px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cancel:hover {
    text-decoration: none !important;
    background-color: white !important;
    color: #BCE489;
    transition: all 0.2s ease-in-out;
}


main {
    width: 1500px;
    height: 860px;
    text-align: left;
    margin-top: 90px;
}


#title {
    width: 1498px;
    height: 60px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.category {
    width: 110px;
    padding-left: 10px;
    height: 45px;
    font-size: 17px;
    border-radius: 3px;
}

.category:focus {
   outline: none;
   border: 1px solid rgb(250, 71, 48); 
}

.title {
    width: 1200px;
    height: 63px;
    border: none;
    border-bottom: 1px solid grey;
    margin-left: 30px;
    font-size: 35px;
    color:rgb(65, 65, 65);
    margin-bottom: 6px;
}

.title::placeholder {
    color: rgb(167, 167, 167);
}

.title:focus {
    outline: none;
}

.title span {
  display: inline-block;
  margin-right: 20px;
}

footer {
    width: 1920px;
    height: 250px;
    background-color: rgb(56, 56, 56);
    padding: 50px 160px 30px 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    position: relative;
  }
  
  #slogan {
    width: 620px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-basis: 50px;
    padding-bottom: 30px;
    margin: 0;
  }
  
  #slogan p, .companyInfo {
	color: rgb(99, 99, 99);
}
  
  footer img {
    filter: invert(0.2);
    margin-bottom: 10px;
  }
  
  footer p {
    display: inline-block;
    color: rgb(99, 99, 99);
  }
  
  #footerMenu {
    margin: 0;
    width: 600px;
  }
  
  #footerMenu ul {
    margin: 0;
    display: flex;
    width: 600px;
    padding-bottom: 30px;
  }
  
  #footerMenu a {
    color: rgb(99, 99, 99);
  }
  
  #footerMenu a:hover {
    color: #BCE489;
  }
  
  .companyInfo {
    margin-left: 15px;
    width: 620px;
  }
  
  #sns {
    width: 500px;
  }
  
  #sns ul {
    display: flex;
    position: absolute;
    right: 160px;
    bottom: 100px;
  }
  
  #sns li:nth-child(2) {
    margin-right: 15px;
    margin-left: 15px;
  }
  
  #sns a {
    padding: 25px 10px 10px 10px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 25%;
    color: rgb(99, 99, 99);
  }
  
  #sns a:visited {
    color: rgb(99, 99, 99);
  }
  
  #sns a:hover {
    color: #BCE489;
    border: 1px solid #BCE489;
  }
  
  