body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    background-color: #bce489;
    padding: 15px;
    margin: 0;
}

#chatList {
    width: 80%;
    height: 400px;
    resize: none;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
}

#chatList a {
    display: block;
    color: #333;
    background-color: #bce489;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* 추가 */
}

#chatList a:hover {
    background-color: #98cc72;
}

#chatList a:hover::after {
    content: "방 입장하기";
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute; /* 수정 */
    top: 0; /* 수정 */
    right: 0%; /* 수정 */
}

.Beanchat_title2 {
	width : 600px;
	height: 450px;
}